
body{
    background: rgb(54, 53, 53);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;

}
hr {
    margin: 3px 15px 0px 15px; 
    border: 4px solid rgb(241, 139, 56); 
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
    box-shadow: 3px 3px 3px 3px #e687509d ;
}

img{
    object-fit: contain;
    overflow: hidden;

}

.header {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    max-height: 160px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.enca1 {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1px;
    background-color: transparent;
} 
.enca1 img{
    height: fit-content;
    width: auto;
    max-height: 100px;
    background-color: transparent;
}
.text-logo{
    margin: 0%;

}

.enca2{
    padding-left: 80px;
    padding-right: 80px;
}
.enca2 h6{
    padding-left: 80px;
    padding-right: 80px;
}
.enca2 h5{
    text-align: right;
}
.enca3 img{
    max-height: 150px;
}

#portada{
    background: #5e6481 url(/img/portada.svg) no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 20px 0px 00px 0px;
}

/* -----MENU---- */
.menu-panel{
    background-color: #232327;
    display: flex;
    text-decoration: none;
    justify-content:space-around;
    justify-items: flex-end;
    padding:0px 30px 0px 30px;
    margin:0px;   
    height: 23px; 
    align-items: end;


}
.menu-bt a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bt a>img{
    margin-right: 20px;
    align-items: end;
}

.menu-bt{
    
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 8px;
    gap: 20px;
    height: 25px;
    min-width: 200px;
    background: #0C0909;
    border-radius: 10px 10px 0px 0px;
    font-size: 18px;
    text-align: center;

}
.menu-bt>ul{
  display: none;
}

.menu-bt:hover{
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 20px;
    min-width: 205px;
    height: 30px;
    background: #181818;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 3px 2px 2px #DD6729;

}

.menu-bt:hover>ul{
    display: block;
  }
.menu2>li{
  background-color: #262D33;
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.boton2menu:hover{
  background-color: #44535f;
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
/* ------------------------------- */